
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Student Enrollment</h5>
  <a class="btn btn-outline-primary" href="#">Log Out</a>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Student's Enrollments</h1>
  <p class="lead">Currently attend courses.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow" *ngFor="let enrollment of studentEnrollments; let i = index">
      <div class="card-header" style="height: 80px;">
        <h4 class="my-0 font-weight-normal">{{enrollment.name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Course <small class="text-muted">/ {{i+1}}</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li *ngIf="enrollment.startDate">Start Date - {{getDateString(enrollment.startDate)}}</li>
          <li enrollment.endDate>End Date - {{getDateString(enrollment.endDate)}}</li>
        </ul>
        <button type="button" (click)="goToViewAssignments(enrollment.courseId)" class="btn btn-lg btn-block btn-outline-primary">View Assignments</button>
      </div>
    </div>
  </div>

</div>
