<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Course Assignments</h5>
  <a class="btn btn-outline-primary" href="#">Log Out</a>
</div>
<div *ngIf="selectedCourse">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h4 class="">{{selectedCourse.name}} Course's Assignments</h4>
    <p class="lead" *ngIf="courseAssignmentsList.length > 0">Currently Available Assignments.</p>
    <p class="lead" *ngIf="courseAssignmentsList.length === 0"> Currently <b>No</b> Available Assignments.</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow" *ngFor="let assignment of courseAssignmentsList; let i = index">
        <div class="card-header" style="height: 80px;">
          <h4 class="my-0 font-weight-normal">{{assignment.name}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Assignment <small class="text-muted">/ {{i + 1}}</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
          </ul>
          <button type="button" (click)="viewGradesOpenModal(assignment)"
                  class="btn btn-lg btn-block btn-outline-primary">Show Gradings
          </button>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
                  (click)="reviewAnswersOpenModal(assignment)">Review Assignments
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
