<div class="row" style="padding: 25px;">
  <div class="col-md-12">
    <h6>Review Questions</h6>
    <h5 *ngIf="answerReviewList.length === 0">Not Available Answered Questions</h5>
  </div>
  <div class="col-md-12">
    <div class="table-responsive" *ngIf="answerReviewList.length > 0">
      <div class="table table-striped table-bordered">
        <thead>
        <tr>
          <td>No.</td>
          <td>Question</td>
          <td>Your Answer</td>
          <td>Correct Answer</td>
          <td>Grade</td>
        </tr>
        </thead>
        <tbody *ngIf="answerReviewList.length > 0">
        <tr *ngFor="let answerReview of answerReviewList">
          <td>{{answerReview.questionIndex}}</td>
          <td>
            <span>{{answerReview.question}}</span>
            <br>
            <span>{{answerReview.duration}} Mins</span>
          </td>
          <td><p *ngFor="let studentAns of answerReview.studentAnswer">{{studentAns.description}}</p></td>
          <td><p *ngFor="let correctAns of answerReview.correctAnswer">{{correctAns.description}}</p></td>
          <td>
            <div class="badge badge-success" *ngIf="answerReview.grade == 'RIGHT'">Right</div>
            <div class="badge badge-danger" *ngIf="answerReview.grade == 'WRONG'">Wrong</div>
            <div class="badge badge-warning" *ngIf="answerReview.grade == 'PARTIAL'">Partial</div>
            <div class="badge badge-light" *ngIf="answerReview.grade == 'NOT_ANSWERED'">Not Answered</div>
          </td>
        </tr>
        </tbody>
      </div>
    </div>
    <div class="card p-2">
      <div class="float-right">
        <div class="float-right">
          <button class="btn btn-secondary float-right" (click)="modalRef.hide()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
