<div class="row">
  <div class="col-md-12 order-md-8 mb-8" style="padding: 40px;">
    <h6>{{assignmentDetails.name}}</h6>
    <h5 *ngIf="gradingList.length === 0">No Available Gradings</h5>
    <h4 class="d-flex justify-content-between align-items-center mb-3" *ngIf="gradingList.length > 0">
      <span class="text-muted">Question No:</span>
      <span class="badge badge-secondary badge-pill">Grade</span>
    </h4>
    <ul class="list-group mb-3" *ngIf="gradingList.length > 0">
      <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let grade of gradingList"
          [ngClass]="grade.grade === 'RIGHT' ? 'text-success' : (grade.grade === 'WRONG' ? 'text-danger' : 'text-info')">
        <div>
          <h6 class="my-0">Question {{grade.questionIndex}}</h6>
        </div>
        <span>{{grade.grade}}</span>
      </li>


      <li class="list-group-item d-flex justify-content-between bg-light">
      </li>

      <li class="list-group-item d-flex justify-content-between" *ngIf="gradeSummery.wrongAnswers > 0">
        <span>Right Answers</span>
        <strong>{{gradeSummery.rightAnswers}}</strong>
      </li>
      <li class="list-group-item d-flex justify-content-between" *ngIf="gradeSummery.wrongAnswers > 0">
        <span>Partial Answers</span>
        <strong>{{gradeSummery.partialAnswers}}</strong>
      </li>
      <li class="list-group-item d-flex justify-content-between" *ngIf="gradeSummery.wrongAnswers > 0">
        <span>Wrong answers</span>
        <strong>{{gradeSummery.wrongAnswers}}</strong>
      </li>
    </ul>

    <div class="card p-2">
      <div class="float-right">
        <div class="float-right">
          <button class="btn btn-secondary float-right" (click)="modalRef.hide()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
